body {
height: 2000px;
margin:0;
}
#main{
padding: 50px 0;
width: 700px;
margin:0 auto;
}
#mySVG {
width: 1300px;
height: 2000px;
margin:0;
}
.box{
height:500px;
text-align: -webkit-center;
padding-top: 30px;
}
#chat{
visibility: visible;
height:300px;
margin: auto;
}
#content {
height: 20px;
text-align: -webkit-center;
padding: 10px 0;
border-style: outset;
width: 500px;
margin:auto;
}
#btn{
border-radius: 12px;
background-color: white;
color: black;
border: 2px solid orange;
}
#input_text{
border-radius: 12px;
border: 2px solid orange;
width: 200px;
}
#input{
margin: auto;
width: 20%;
}
h2 {
  text-align: -webkit-center;
}
